
.bg-blog-card{
    border-bottom: 1px solid rgb(56, 55, 55);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    background: black;
    width: 50%;
    align-items: center;
    margin-top: 4rem;
}
.first-line-blogcard{
    display: flex ;
    gap: "20px";
    align-items: center;
}
.font-name{
    font-size :"16px";
    font-weight: 800;
}
.font-date{font-weight: 200;
    font-size: x-small;
    margin-left: 5px;
    color: rgb(136, 134, 134);
    
}
.nameAndDate{
    margin-bottom: 1px;
}
.title{
    font-size: 24px;
    font-weight: 800;
}

.time{
    font-size: x-small;
   
    color: rgb(136, 134, 134);
}